body {
  background-image: url("CV/images/bg.jpg");
  color: white;
  font-family: cursive;
}
h1 {
  font-family: inherit;
  font-style: normal;
  font-size: 40px;
  font-variant: small-caps;
}
a {
  color: yellow;
}
hr {
  color: grey;
  border-style: none;
  border-top: 15px dotted ;
  width: 4%;
}
img {
  height: 290px;
  width: 250px;
}
